# Lists
---

- Generic data structure in Python consisting of an ordered collection of objects.
- Objects in a list are also known as "elements" or, "components".
- Elements of a list need not to be of same data type.
  - List can consist of a numeric array, a logical value, a matrix, a complex vector, a character array, a function etc.
- Elements are enclosed between two square brackets `[]` in a list.

> ***Example-1 :***</br>
*Create the lists for employee id, employee name and a variable that contains number of employees.*

In [0]:
emp_id = [1,2,3,4]
emp_name = ["Ram", "Preeti", "Satish", "Udit"]
num_emp = 4

> *Create an employee list using the employee id, employee name and number of employees*

In [3]:
emp_list = [emp_id, emp_name, num_emp]
print(emp_list)

[[1, 2, 3, 4], ['Ram', 'Preeti', 'Satish', 'Udit'], 4]

## Indexing
---
There are two types of indexing :</br>
  1. Positive indexing
  1. Negative Indexing

### Positive Indexing
---
- Starts from the left most element.
- `0` is the first index

### Negaive Indexing
---
- Starts from the right most element
- `-1` is the first index

## Accessing Components of A List
---
- To access the top level components, use single slicing operator `[]`.
- For sub-level/ inner-level components, use `[]` followed by another `[]` ,i.e, `[][]`.

> ***Example :***</br>
*To extract "Satish" from the "emp_name" list -:*

In [4]:
print(emp_name[0]) 

#or,

print(emp_name[-2])

Ram
Satish

>*To extract the employee id from the employee list*

In [5]:
print(emp_list[0])

[1, 2, 3, 4]

>*To extract "Preeti"from the level "Employee name" that belongs to employee list*

In [6]:
print(emp_list[1][1])

Preeti

## Modifying List Components
---
Elements inside a list can be modified using two methods -:
1. Assigning new element directly to the index position that has to be updated.
1. Using in-built functions where the element that is to be updated with is given as an input to the function along with the index position.

> ***Modifying list components using index -:***</br>
- *Assign the values to be changed to the corresponding index of the list*</br>
- *The following command will change the value of "num_emp" to "5" from "4" -:*

In [7]:
emp_list[2] = 5
print(emp_list)

[[1, 2, 3, 4], ['Ram', 'Preeti', 'Satish', 'Udit'], 5]

### append() Method
---
- append() -: adds an object at the end of the list
> syntax -: </br>
list_name[index].append(object)

- In the above syntax, if the "index" is not specified, then the object gets added as a new level in the existing list.
- There are two ways to add an object to a list -:
  1. Adding an element to a list
  1. Adding a list to a list

#### Adding Element To A List
---

- *The following command will add "5" at the end of "emp_id" level of "emp_list" list -:*

In [9]:
emp_list[0].append(5)
print(emp_list)

[[1, 2, 3, 4, 5, 5], ['Ram', 'Preeti', 'Satish', 'Udit'], 5]

- *The following command will add "Nirmal" at the end of "emp_name" level of "emp_list" list :*

In [10]:
emp_list[1].append("Nirmal")
print(emp_list)

[[1, 2, 3, 4, 5, 5], ['Ram', 'Preeti', 'Satish', 'Udit', 'Nirmal'], 5]

#### Adding List To A List
---
- *The following command will add a new list "age" at the end of the "emp_list" list -:*

In [11]:
emp_list.append([23,24,27,30,26])
print(emp_list)

[[1, 2, 3, 4, 5, 5], ['Ram', 'Preeti', 'Satish', 'Udit', 'Nirmal'], 5, [23, 24, 27, 30, 26]]

### insert() Method -:
---
- insert() -: Adds an object at the given position in a list
> ***Syntax -:*** </br>
<i>list_name[index].insert(position, object)</i>

- *Adding number "6" at the 1st position to the level "emp_id" from "emp_list" -:*

In [12]:
emp_list[0].insert(0,6)
print(emp_list)

[[6, 1, 2, 3, 4, 5, 5], ['Ram', 'Preeti', 'Satish', 'Udit', 'Nirmal'], 5, [23, 24, 27, 30, 26]]

### del() Method -:
---
- del() -: Removes the object at the specified index number


> ***Syntax -:*** </br>
<i>del list_name[index1][index2]</i>

In the above syntax,
1. index1 - Index number of the top level component to be dropped.
1. index2 - Corresponds to the sub-level of the component to be dropped.

***Example -:***
- *Drop the last level "age" from the "emp_list"*

In [13]:
del emp_list[3]
print(emp_list)

[[6, 1, 2, 3, 4, 5, 5], ['Ram', 'Preeti', 'Satish', 'Udit', 'Nirmal'], 5]

### remove() Method -:
---
- remove() -: Removes the first matching object from the list.


> ***Syntax -:*** </br>
<i>list_name[index].remove(object)</i>

***Example -:***
- *Remove "Ram" from the "emp_name" level of the "emp_list" list*

In [14]:
emp_list[1].remove("Ram")
print(emp_list)

[[6, 1, 2, 3, 4, 5, 5], ['Preeti', 'Satish', 'Udit', 'Nirmal'], 5]

### pop() Method -:
---
- pop() -: Displays the object that is being removed from the list at the specified index number.


> ***Syntax -:*** </br>
<i>list_name[index1].pop(index2)</i>

In the above syntax,
1. index1 - Index number of the top level component to be dropped.
1. index2 - Corresponds to the sub-level of the component to be dropped.

***Example -:***
- *Remove "4" from the 5th position of the "emp_id" level from the "emp_list" list*

In [15]:
emp_list[0].pop(4)
print(emp_list)

[[6, 1, 2, 3, 5, 5], ['Preeti', 'Satish', 'Udit', 'Nirmal'], 5]