# Tuples
---
- Consists of an ordered collection of objects.
- Some of the operations on tuples are similar to lists.
- Tuples are enclosed between parentheses `()`.
- Tuples are immutable (Once created, can't be modified).

> ***Example :***</br>
*Create a tuple with employee id, name, age, salary details*

In [2]:
emp_details = ("P001", "Jhon", 35, 40000)
print(emp_details)

('P001', 'Jhon', 35, 40000)

## Accessing the Tuple Components
---
- To access components, use single slicing operator `[]`
>***syntax :*** </br>*tuple_name[index]*

> ***Example :***</br>
*Extract "employee id" from "emp_details" tuple*

In [0]:
print(emp_details[2])

35

## Slicing
---
- Used to access a set of elements from a tuple by creating a range of index numbers `[x:y]`.
- x-index number is where the slice starts (inclusive).
- y-index number is where the slice ends (exclusive).

>***Example :***</br>
*Extract "name" & "age" from "emp_details" tuple*

In [0]:
print(emp_details[1:3])

('Jhon', 35)

> *Extract "employee id", "name" & "age" from "emp_details" tuple*

In [0]:
print(emp_details[:3])

('P001', 'Jhon', 35)

## Length of the tuple
---
- `len()` -: returns the length of tuple
- > ***syntax :***</br>*len(tuple_name)*

> ***Example :***

In [3]:
len(emp_details)

4

## Minimum & Maximum from tuple
---
- `min()` -: returns the lowest value in the tuple
- `max()` -: returns the highest value in the tuple
- > ***syntax :***</br>*min(tuple_name)* or, </br>*max(tuple_name)*

> ***Example :***</br>*Create a tuple of marks secured by students in English and then, find the minimum and maximum marks secured*

In [5]:
English_Marks = (56,78,92,35,23,41,52,33)
print(English_Marks)

(56, 78, 92, 35, 23, 41, 52, 33)

In [6]:
min (English_Marks)

23

In [7]:
max (English_Marks)

92

## Combining Two Tuples
---
- Two tuples can be concatenated as follows -:</br>
`(tuple 1)`+`(tuple 2)`
***Example :***</br>*Create a tuple with employee education and department details and then combine the tuple with "emp_details" tuple.*

In [9]:
emp_details2 = ("M.Com", "Accounts")
print(emp_details2)

('M.Com', 'Accounts')

In [10]:
print(emp_details + emp_details2)

('P001', 'Jhon', 35, 40000, 'M.Com', 'Accounts')

## Modifying Components of a Tuple
---
- Tuples are different from lists in the sense tuples can't be modified.
- Elements can't be added or, removed from the tuples using the index number or, functions (append, del, remove etc.)